table.table.table-striped(st-table="dealersDisplay", st-safe-src="dealers")
  thead
    tr
      th.pointer(st-sort="name") Name
      th.pointer(st-sort="city") City
      th.pointer(st-sort="state") State
      th &nbsp;
    tr
      th
        input.input-sm.form-control(type="search" st-search="name" placeholder="filter")
      th
        input.input-sm.form-control(type="search" st-search="city" placeholder="filter")
      th
        input.input-sm.form-control(type="search" st-search="state" placeholder="filter")
      th &nbsp;
  tbody
    tr(ng-repeat="dealer in dealersDisplay")
      td {{ dealer.name }}
      td {{ dealer.city }}
      td {{ dealer.state }}
      td
        a.btn.btn-sm.btn-primary.pull-right(href="{{ dealer.website }}" target="_blank")
          span.glyphicon.glyphicon-globe
          | &nbsp;&nbsp;Website

        a.btn.btn-sm.btn-success.pull-right.pointer(ng-click="openModal('dealers.edit', dealer)", style="margin-right:8px")
          span.glyphicon.glyphicon-pencil
          | &nbsp;&nbsp;Edit