.container
  .row
    .col-xs-10
      h3 Dealerships
    .col-xs-2
      h3
        button.btn.btn-sm.btn-success.pull-right(ng-click="")
          | Add Dealership&nbsp;&nbsp;
          span.glyphicon.glyphicon-plus
  .row
    .col-md-12
      include partials/dealers.list.pug